*, *::before, *::after {
    font-family: 'Roboto';
}

body {
    background-image: url(img/wallpapermtn.png);
    background-repeat: no-repeat;
}

.panel {
    margin: 0 auto;
    margin-top: 100px;
}

.left-panel {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 4px;
    height: 400px;
    box-shadow: 0 0 20px 5px #0000002a;
    z-index: 1;
}

.right-panel {
    height: 410px;
    margin-top: 20px;
    padding: 10px 20px 20px 30px;
    left: -110px;
    background: linear-gradient(#0f62bd 24%, #0a407a 168%);
    border-radius: 4px;
    box-shadow: 0 0 5px #0000002a;
}

.right-panel .input-group-text i {
    font-size: 18px;
}

nav {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0px;
}
.nav, .nav-tabs a {
    background-color: #00000018;
    font-size: 12px;
    border-color: transparent;
    border-radius: 0px;
    color: #ffffff;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus ,a:active{
    background-color: #ffffff;
    border-radius: 0px;
    border: 2px solid #0f62bd;
    
    color: #000000;
}

.right-panel .tab-content {
    margin: 0px 50px;
}

.right-panel .btn {
    background-color: #00000069;
    border-radius: 0px;
    border-color: transparent;
    width: 200px;
}

.right-panel .btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.text-center {
    color: white;
}

.left-panel .header {
    margin-top: 40px;
    text-align: center;
    color: #0f62bd;
    font-size: 20px;
}

.left-panel .calculator {
    margin: 0 auto;
    margin-top: 40px;
}

.left-panel .calculator h5 {
    text-align: center;
    font-weight: 200;
}

.left-panel input[type="text"], .left-panel input[type="text"]:focus, .left-panel input[type="number"], .left-panel input[type="number"]:focus, .left-panel input[type="text"]::placeholder, .left-panel input[type="number"]::placeholder, .calculator #usd_quantity::placeholder{
    color: #000000;
    background-color: #ffffff;
}

.left-panel .calculator .input-group-btn {
    background-color: #0f62bd;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 0 0 ;
    color: #ffffff;
}

.logo {
    margin: 0 auto;
}

.logo img{
    position: absolute;
    height: 50px;
    left: 160px;
    bottom: 435px;
    z-index: 1;
}

.right-panel input{
    background-color: transparent;
    border-top: transparent;
    border-right: transparent;
    color: #ffffff;
}

.right-panel input::placeholder {
    color: #dbdbdb;
}

.right-panel .input-group-text {
    background-color: #ffffff;
    border-radius: 0px;
    border-color: transparent;
    color: #0f62bd; 
}

.right-panel input:focus {
    background-color: transparent;
    color: #ffffff;
    border-bottom: transparent;
    box-shadow: 0px 0px 10px 0px #ffffff;
    border-radius: 0px;
}

.right-header {
    margin-bottom: 20px; 
    color: #ffffff;
}

.right-panel .right-footer a {
    color: #ffffff;
    font-size: 12px;
}

.right-footer .ext-links li{
    display: inline-block;
    margin-top: 100px;
    list-style-type: none;
}